.layout-body {
    display: flex;
    flex-direction: row;
    height: 100%;

    .content {
        overflow: auto;
        padding: 5px;
        box-sizing: border-box;
        background: #ececec;
        height: 100%;
        width: calc(100% - 250px);
    }
}
