<div>

  <compack-card *ngFor="let voyage of ways" (click)="onView(voyage)">

    Время отправления: {{voyage.startDate | date: 'dd.MM.yyyy HH:mm'}}
    <br>
    Путь: {{voyage.startStation}} -> {{voyage.endStation}}
    <hr>

    <div *ngFor="let operation of voyage.operations">
      {{operation.operDate | date: 'dd.MM.yyyy HH:mm'}}
      {{operation.name}}
      {{operation.operStation}}
      {{operation.remainingDistance}}
      {{operation.daysWithoutMovement}}
    </div>

  </compack-card>

</div>

<div id="map" style="width: 100%; height: 300px"></div>